
.wrapper{
  display: flex;
  justify-content: center;
  .gallery{
    width: 90%;
    padding: 10px;

    .image{

    }
    //display:flex;
    //justify-content: space-between;

    //.mainImage{
    //
    //}
    //
    //.rightBlock{
    //  border: 1px solid black;
    //}
  }
}