.footer{
  height:800px;
  width: 100vw;
  background-color: rgba(255, 224, 186, 0.6);

  .delivery{
    max-width: 1920px;
    margin: 0 auto;
    padding: 10px 0;
    height: 200px;
  }

  .separator{
    height: 1px;
    width: 100vw;
    background-color: black;
  }

  .footerContent{

  }
}